body {
    background-color: #0d1b2a;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

.logo {
    width: 150px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

main {
    margin: 40px auto;
}

iframe {
    width: 100%;  /* Ensure the iframe width is 100% of its container */
    height: 100%;  /* Allow it to scale with aspect ratio */
    border: none;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    background-color: #1b263b;
}

/* Add media queries to handle smartphones (up to 600px wide) */
@media (max-width: 600px) {
    main {
        margin: 20px auto;
    }
    
    header img {
        width: 300px;  /* Resize the logo on smaller screens */
    }

    h1 {
        font-size: 1.5em;  /* Reduce heading size for smaller screens */
    }
    
    iframe {
        width: 100%;   /* Ensure full width inside container */
        height: 60vw;  /* Set proportional height based on viewport width */
    }
}
